* {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.pref-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #8fc9f7;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

label[id="resultArea"] {
  vertical-align: middle;
  font-size: 30px;
  margin-bottom: 0px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 10%;
  border: 2px solid #ccc;
  margin-right: 2px;
  background-color: white;
}

input[type="radio"]:checked + label:before {
  background-color: #fa8500;
  border-color: #fa8500;
}

button[type="submit"] {
  background-color: #fa8500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: #d27000;
}