body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("alma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    opacity: 0.8; /* set the opacity of the pseudo-element */
    filter: saturate(150%);
    z-index: -1; /* push the pseudo-element behind the content */
  }
  
  .container {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* add text shadow */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* added this line to align items in the center */
  }
  
  label {
    font-size: 2rem;
    margin-bottom: 5px;
    color: white;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* add text shadow */
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%; /* added this line to make the text boxes as wide as the container */
    max-width: 400px; /* optional: add max-width to limit the width of text boxes */
  }
  
  input[type="submit"] {
    padding: 50px; /* changed to make the button bigger */
    border-radius: 10px;
    border: 5px solid #ccc;
    background-color: #0f029a; /* changed to blue background color */
    color: #fff;
    font-size: 2rem; /* changed to same font size as heading */
    cursor: pointer;
    width: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* add text shadow */
  }